body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(198, 33, 33);
    margin: 0;
}

.grid {
}

button {
    font-family: 'Cabin Sketch', cursive;
    background-color: rgb(253, 251, 246);
    border-radius: 100px;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 10px;
    font-weight: bolder;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(215, 213, 209);
}

h1 {
    font-family: 'Cabin Sketch', cursive;
    color: rgb(255, 254, 247);
    margin-bottom: 5px;
    margin-top: -20px;
    height: 70px;
    animation-name: red-flash;
    animation-duration: 0.8s;
    animation-delay: 0.6s;
    font-size: 3rem;
}

#etcha-sketch {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-content {
    background-color: black;
    padding: 4px;
    /* animation-name: SHAKE;
    animation-duration: 0.8s; */
}

#btn-container {
    margin-top: 10px;
    display: flex;
    gap: 12rem;
    padding: 10px;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(170, 10, 10);
    margin: 0;
    height: 5rem;
}

.footer__text {
    color: rgb(98, 15, 15);
}

.reset {
}

.shake {
    animation-name: SHAKE;
    animation-duration: 0.8s;
}

@keyframes red-flash {
    0% {
        font-size: 0rem;
    }
    2% {
        font-size: 0.5rem;
    }
    100% {
        font-size: 3rem;
    }
}

@keyframes SHAKE {
    0% {
        margin-left: 50%;
    }
    30% {
        margin-left: -50%;
    }
    60% {
        margin-left: 30%;
    }
    80% {
        margin-left: -20%;
    }
    100% {
        margin-left: 0%;
    }
}
