@font-face {
    font-family: 'Fortrack Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Fortrack Regular'),
        url('/fonts/Fortrack-Regular.woff') format('woff');
}

@font-face {
    font-family: 'rondo';
    font-style: normal;
    font-weight: normal;
    src: local('rondo'), url('/fonts/rondo.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(198, 33, 33);
    margin: 0;
}

img {
    display: block;
    height: 30px;
    width: 30px;
}

.img_one {
    margin-left: 0.98rem;
    margin-bottom: 0.1rem;
}

button {
    font-family: 'Rondo', 'Times New Roman', Times, serif;
    background-color: rgb(253, 251, 246);
    border-radius: 100px;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 11px;
    font-weight: bolder;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(215, 213, 209);
}

h1 {
    font-size: 3rem;
}

.gradient-text {
    background-image: linear-gradient(
        90deg,
        rgba(214, 162, 48, 1) 1%,
        rgb(216, 182, 110) 100%
    );
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: shimmer;
    animation-direction: alternate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Rondo', 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    gap: 0.6rem;
    margin-top: -2.5rem;
    margin-bottom: -1.3rem;
}

.letter_a {
    margin-left: 3px;
    margin-right: -1px;
}

.subhead {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: rgb(214, 162, 48);
}

#etcha-sketch {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-content {
    background-color: black;
    padding: 4px;
    /* animation-name: SHAKE;
    animation-duration: 0.8s; */
}

#btn-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 25rem;
    padding: 10px;
}

.button__one {
    display: flex;
    flex-direction: row;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(170, 10, 10);
    font-family: 'Rondo', 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: larger;
    color: rgb(141, 23, 23);
    margin: 0;
    height: 5rem;
    margin-top: 20px;
}

.footer__text {
    font-family: 'Fortrack Regular';
    color: rgb(134, 22, 22);
    font-weight: 600;
    font-size: 1.6rem;
}

.shake {
    animation-name: SHAKE;
    animation-duration: 0.8s;
}

.rotate_clockwise {
    animation-name: rotateClockwise;
    animation-duration: 1s;
}

.rotate_counter {
    animation-name: rotateCounter;
    animation-duration: 1s;
}

@keyframes SHAKE {
    0% {
        margin-left: 0%;
    }
    10% {
        margin-left: 40%;
    }
    30% {
        margin-left: -40%;
    }
    60% {
        margin-left: 20%;
    }
    80% {
        margin-left: -15%;
    }
    100% {
        margin-left: 0%;
    }
}

@keyframes rotateClockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

@keyframes rotateCounter {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-359deg);
    }
}

@keyframes shimmer {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 20% 60%;
    }
    50% {
        background-position: 100% 50%;
    }
    90% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width: 520px) {
    #btn-container {
        gap: 13rem;
        margin-top: 20px;
    }

    #header {
        flex-direction: column;
        gap: 0px;
        margin-top: 40px;
        margin-bottom: 0px;
    }
    .subhead {
        margin-top: -36px;
    }
    #magic {
        margin-bottom: -36px;
    }
    #button-container {
        color: black;
    }
}

@media screen and (max-width: 414px) {
    #etcha-sketch {
        margin-bottom: 11.8rem;
    }
}
